@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.contact-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* border: 2px solid blueviolet; */
  background: url("../pictures/home_page_img.jpeg") center center/cover
    no-repeat;
}

.contact-card {
  margin: 20px;
  border-radius: 15px;
  width: 70%;
  height: 70%;
  box-shadow: -1px 24px 36px -4px rgba(0, 0, 0, 0.45);
  /* max-width: 420px; */
  /* min-height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgba(238, 172, 172, 0.23);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 20%
  );
}

.contact-card h2 {
  text-align: center;
}
.contact-button {
  padding: 0.5rem;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
