@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


.flash-cards-page{
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1rem;
    background: url('../pictures/home_page_img.jpeg') center center/cover no-repeat;
}  

.flash-cards-page small{
    margin-top:2px;
    font-size: 10px;
}

  
  .flash-c-header {
    border-radius: 15px;
    width: 60%;
    box-shadow: -1px 24px 36px -4px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(233, 141, 147, 0.4);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.1) 20% );
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
  }
  
  .flash-c-form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .flash-c-form-group > label {
    color: rgb(31, 28, 28);
    font-size: 35px;
    margin-bottom: 10px;
  }
  


  .flash-c-btn {
    color: white;
    padding: .5em 1em;
    margin-top: 1rem;
  border: none;
  cursor: pointer; 
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  }
  
  .flash-c-btn:hover {
    background-color: hsl(344, 80%, 61%);
  }
  
  .card-grid {
     margin: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .card {
    font-size: 1.4em;
    justify-content: flex-start;
    padding: 40px;
    background-color: rgba(233, 141, 147, 0.4);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.1) 20% );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    /* background-color: rgb(238, 132, 132); */
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }
  
  .card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  }
  
  .card.flip {
    --rotate-y: 180deg;
  }
  
  .card .front {
    left: 0;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  
  .flashcard-options {
    margin-top: 2em;
  }
  
  .flashcard-option {
    margin-top: .25rem;
    font-size: 1em;
  }
  
  .flashcard-option:first-child {
    margin-top: 0;
  }