@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.login-success-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(34, 134, 129, 0.4);
    background: url('../pictures/home_page_img.jpeg') center center/cover no-repeat;
}
.login-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(34, 134, 129, 0.4);
    background: url('../pictures/home_page_img.jpeg') center center/cover no-repeat; 
}

.login-section{
    border-radius: 15px;
    width: 70%;
    height: 70%;
    box-shadow: -1px 24px 36px -4px rgba(0,0,0,0.45);
    /* max-width: 420px; */
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(233, 141, 147, 0.4);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.1) 20% );

} 
.section-register{
    border-radius: 15px;
    width: 70%;
    height: 70%;
    box-shadow: -1px 24px 36px -4px rgba(0,0,0,0.45);
    /* max-width: 420px; */
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(233, 141, 147, 0.4);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.1) 20% );

}  

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}


/* .login-container{
    padding: 20px;
    margin: 10px;
    background: url('../pictures/home_page_img.jpeg') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 110vh;   
    align-items: center;
    color: rgb(13, 13, 14);
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(167, 44, 73, 0.23);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.1) 20% );
    backdrop-filter: blur(3px);
    box-shadow: -1px 24px 36px -4px rgba(0,0,0,0.45);
    width: 50%;
    height: 70%;
    margin: 20px;
    padding:50px;
    border-radius: 15px;
}
form{
    font-size: 1em;
    margin: auto;
    width: 80%;
}

input[type=text], input[type=password],input[type=confirm-password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  
  button {
    background-color: #b55e7f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .img-container {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .fields-container {
    padding: 16px;
  }
  
  span.password {
    float: right;
    padding-top: 16px;
  }
  span.confirm-password {
    float: right;
    padding-top: 16px;
  } */