.quiz-container{
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;    /* align-items: center; */
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
}
.quiz-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

.quiz-question{
    border: 2px solid rgb(250, 248, 248);

    background: rgba(244, 170, 170, 0.23);
    padding: 20px;
    color: rgb(7, 7, 7);
    /* background-color: azure; */
    border-radius: 15px;
    /* box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2); */
}  
.quiz-question h1{
    padding: 10px;
}

.answers-row{
/* transform: rotateZ(35deg);     */
    background: rgba(238, 172, 172, 0.23);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.1) 20% );
    backdrop-filter: blur(3px);
    box-shadow: -1px 24px 36px -4px rgba(0,0,0,0.45);
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051), 0px,0px, 7.2px rgba(0, 0, 0, 0.073,) 0px,0px,13.6px rgba(0, 0, 0, 0.09),0px,0px,24.3px rgba(0, 0, 0, 0.107), 0px,0px,45.5px rgba(0, 0, 0, 0.129), 0px,0px,109px rgba(0, 0, 0, 0.18); */
    width: 90%;
    height: 60%; 
    /* flex-direction: column; */
    margin: 20px;
    padding:50px;
    /* overflow: scroll; */
    /* object-fit: contain; */
    /* display: flex; */
    border: 2px solid red;
} 
 .quiz-answers-col{
  overflow: hidden;
  position: relative;
    width: 90%;
    height: 70%; 
    flex-direction: column;
    margin: 30px;
    padding: 12px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    
} 
 .test-answ{
   /* min-width: 30px; */
   max-width: 100%;
    border: 2px solid rgb(250, 248, 248);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(238, 172, 172, 0.23);
    /* background: rgb(244, 234, 234);
    background-image: linear-gradient(90deg, rgba(74, 162, 20, 0.1) 10%,rgba(18, 38, 213, 0.1) 20% ); */
    /* text-align: justify; */
    /* width: 100%; */
    height: 30%; 
    color: rgb(7, 7, 7);   
    padding: 10px;
    margin-bottom: 5px;
    /* background-color: azure; */
    /* border: 2px solid red; */
}  

.test-answ-incorrect:hover, .test-answ-correct:hover{
  border: 2px solid rgb(175, 14, 14);

  border-radius: 15px;
  background: rgba(201, 156, 156, 0.23);
  /* background: rgb(244, 234, 234);
  background-image: linear-gradient(90deg, rgba(74, 162, 20, 0.1) 10%,rgba(18, 38, 213, 0.1) 20% ); */
  /* text-align: justify; */
  width: 100%;
  height: 30%; 
  color: rgb(7, 7, 7);    padding: 10px;
  margin-bottom: 5px;
  padding:10px;
}

.test-answ-incorrect{
  border: 2px solid rgb(250, 248, 248);

  border-radius: 15px;
  background: rgba(144, 73, 100, 0.23);
  /* background: rgb(244, 234, 234);
  background-image: linear-gradient(90deg, rgba(74, 162, 20, 0.1) 10%,rgba(18, 38, 213, 0.1) 20% ); */
  /* text-align: justify; */
  width: 100%;
  height: 30%; 
  color: rgb(7, 7, 7);    padding: 10px;
  margin-bottom: 5px;
  padding:10px;
}
.test-answ-correct{
  border: 2px solid rgb(248, 250, 249);

  border-radius: 15px;
  background: rgba(55, 216, 117, 0.23);
  /* background: rgb(244, 234, 234);
  background-image: linear-gradient(90deg, rgba(74, 162, 20, 0.1) 10%,rgba(18, 38, 213, 0.1) 20% ); */
  /* text-align: justify; */
  width: 100%;
  height: 30%; 
  color: rgb(7, 7, 7);    padding: 10px;
  margin-bottom: 5px;
  padding:10px;
}

   

.answers-row:after{
    content: "";
  display: table;
  clear: both;
  width: 100%;

}  

/* .answer-button{
  border: 1px red solid;
} */

.buttons{
  /* border: 2px solid red; */
  padding: 1%;
  width: 90%;
  display: flex;
  /* border: 1px solid greenyellow; */
  justify-content:space-around;
}
.prv-btn{
  width: 120px;
  background: #f19797;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  border: 1px solid #e1cdcd;
  transition: all .5s;
  box-shadow: 6px 6px 12px  rgba(118, 114, 114, 0.45), -6px -6px 12px  rgba(0,0,0,0.45);

}
.prv-btn:hover{
  box-shadow: -6px -6px 12px  rgba(0,0,0,0.45), 6px 6px 12px  rgba(0,0,0,0.45);
}
.nxt-btn{
  width: 120px;
  display: flex;
  /* justify-items: end; */
  background: #f19797;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  border: 1px solid #e1cdcd;
  transition: all .5s;
  box-shadow: 6px 6px 12px  rgba(118, 114, 114, 0.45), -6px -6px 12px  rgba(0,0,0,0.45);

}
.nxt-btn:hover{
  box-shadow: -6px -6px 12px  rgba(0,0,0,0.45), 6px 6px 12px  rgba(0,0,0,0.45);
}

/* @media screen and (min-height: 760px) {
  .answers-row > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
} */
@media screen and (max-width: 960px) {
  .quiz-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .quiz-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .quiz-container > p {
    font-size: 30px;
  }

  .nxt-btn {
    display: block;
    text-decoration: none;
  }

  .prv-btn {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}